doctype html
html
  head
    title Config
  body
    h1 Config
    |     
    |     
    form(action='/config', method='post')
      p
        label(for='directory_path') Directory path
        |             
        input#directory_path(type='text', name='directory_path', value=config.directory_path)
        |             
        span#result_directory_path
        |             
        br
        |             
        label(for='regexp') Regexp
        |             
        input#regexp(type='text', name='regexp', value=config.regexp.toString())
        if(error && error.regexp)
          span(style="color:red") #{error.regexp}
        |             
        br
        |             
        label(for='extensionsAllowed') Extensions
        |             
        input#extensionsAllowed(type='text', name='extensionsAllowed', value=config.extensionsAllowed.toString())
        if(error && error.extensionsAllowed)
          span(style="color:red") #{error.extensionsAllowed}
        |             
        br
        |             
        label(for='enableLogs') Enable Logs
        |             
        input#enableLogs(type='checkbox', name='enableLogs', value=config.enableLogs)
        |             
        br
        |             
        label(for='logFile') Log File
        |             
        input#logFile(type='text', name='logFile', value=config.logFile)
        |             
        br
        |             
        |             
        button(type='submit') PROCESS
