doctype html
html
  head
    title Batch
    |     
    style.
      a {text-decoration: none; color: black;}

  body
    h1 Batch
    |     
    hr
    |
    form(action='/validation', method='post')
      - var i = 0
      - var idFile = 0
      input(type="checkbox", name="all_checkbox", checked, id="all_checkbox")      
      each val in data
        - idFile++
        div(id=idFile)
          input(type="checkbox", name="file_checkbox", checked, data-id=idFile)
          span #{val.file}
          br
          div
            each line in val.line
              - i++
              input(type="checkbox", name="validations", data-idFile=idFile, value=i, checked)
              span #{line.number} : #{line.content}
              br
        br
      |
      button(type="submit") PROCESS
    script(src="js/validation.js")